<div class="Season">
  <img class="img" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div>Season: {{seasons}}</div>
  <div>Snapper: {{snapper}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>