<div class="season">
    <a class="nav" href="/">Home</a>
    {{>header}}
  <img class="imgView" src="{{image}}" alt="{{name}}">
  <div><p>{{description}}</p></div>
  <a class="add"href="/seasons/add">Add your photo</a>
  <a href = '{{morePhotos}}'><p>Looking for some more {{name}} photos?</p>
</div>
